// ---- Varies ----
$font: "Bellota";
$black: #1c1c1c;
$gold: #a99260;
$gray: #787878;
$white: rgba(255, 255, 255, 0.75);

// ---- Global-Tags ----
html {
    box-sizing: border-box;
    overflow-x: hidden;
    &.hidden {
        overflow-y: hidden;
    }
    &.loaded-hiding {
        overflow-y: hidden;
    }
}
*,
*::before,
*::after {
    box-sizing: inherit;
}
body {
    position: relative;
    overflow-x: hidden;
    min-width: 320px;
    font-family: $font;
    font-weight: 400;
    font-size: 18px;
    line-height: 23px;
    color: $black;
    &.error404-page {
        background-color: #fff;
        ::selection {
            background: rgba(#000, 0.3) !important;
        }
    }
}
a {
    text-decoration: none;
    display: inline-block;
    color: $black;
}
button {
    outline: none;
    border: none;
    padding: 0;
    font-family: inherit;
    background-color: transparent;
    cursor: pointer;
}
input {
    outline: none;
    border: none;
    font-family: inherit;
    background-color: transparent;
}
textarea {
    outline: none;
    border: none;
    font-family: inherit;
    background-color: transparent;
    resize: none;
}
section {
    position: relative;
}

// ---- Global-Class -----
.container {
    max-width: 1170px;
    margin: 0 auto;
    padding: 0 15px;
}

.btn {
    font-weight: 300;
    font-size: 20px;
    line-height: 25px;
    padding: 10px 24px;
    background-color: $gold;
    font-family: $font;
    background: lighten($gold, 3%);
    border: 1px solid darken($gold, 4%);
    box-shadow: 0px 2px 0 darken($gold, 5%), 2px 4px 6px darken($gold, 2%);
    font-weight: 900;
    letter-spacing: 1px;
    transition: all 150ms linear;
    &:hover {
        background: darken($gold, 1.5%);
        border: 1px solid rgba(#000, 0.05);
        box-shadow: 1px 1px 2px rgba(#fff, 0.2);
        text-decoration: none;
        text-shadow: -1px -1px 0 darken($gold, 9.5%);
        transition: all 250ms linear;
    }
}

.title-line {
    padding-bottom: 10px;
    position: relative;
    &::after {
        content: "";
        position: absolute;
        width: 150px;
        height: 3px;
        left: 50%;
        transform: translateX(-50%);
        bottom: 0;
        background-color: $gold;
    }
}

.input {
    font-family: $font;
    width: 100%;
    padding: 7px 10px;
    background: #f3f3f3;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 5px;
    color: $black;
    border: 2px solid transparent;
    &::placeholder {
        color: $gray;
    }
    &.input-error {
        border: 2px solid rgb(128, 53, 53) !important;
    }
}
.error {
    position: absolute;
    bottom: -25px;
    left: 15px;
    z-index: 30;
    background-color: darken($gold, 0%);
    border: 2px solid darken($gold, 5%);
    padding: 5px 10px;
    border-radius: 5px;
    width: auto;
    font-size: 16px;
    line-height: 18px;
    &::after {
        content: "";
        position: absolute;
        top: -5px;
        left: 15px;
        width: 0;
        height: 0;
        border-style: solid;
        border-width: 0 10px 10px 10px;
        border-color: transparent transparent $gold transparent;
    }
}

.simple-select {
    span {
        border: none;
    }
}

.wrapper {
    position: relative;
    &::after {
        content: "";
        position: absolute;
        left: 0;
        bottom: 0;
        top: 0;
        right: 0;
        background-color: rgba(#000, 0.3);
        transition: background-color 0.3s;
        z-index: 2;
    }
}

.main {
    padding: 60px 0px 150px;
    &__inner {
        display: flex;
        justify-content: space-between;
    }
    &--left {
        width: 720px;
        margin-right: 50px;
    }
    &--right {
        width: 335px;
    }
    &--shop {
        margin-top: 50px;
    }
}

.soclist {
    display: flex;
    align-items: center;
    &__item:not(:last-child) {
        margin-right: 20px;
    }
    &__item-link {
        transition: 0.5s linear;
        position: relative;
        z-index: 1;
        margin: auto;
    }
    &__item-link::before {
        content: "";
        position: absolute;
        left: 50%;
        top: 50%;
        transform: scale(0) translate(-50%, -50%);
        width: 60px;
        height: 60px;
        background: #000;
        border-radius: 50%;
        z-index: -1;
        transition: 0.3s cubic-bezier(0.95, 0.32, 0.37, 1.21);
    }
    &__item-link:hover:before {
        transform: scale(1) translate(-50%, -55%);
    }
    &__item a:hover:before {
        background: $gold;
    }
}

.stars {
    display: flex;
    align-items: center;
    .star:not(:last-child) {
        margin-right: 8px;
    }
    .star {
        svg {
            fill: #fff;
        }
    }
    .star--not {
        svg {
            fill: transparent;
            stroke: #fff;
        }
    }
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    z-index: 25;
    top: 50%;
    transform: translateY(-50%);
    svg {
        width: 67px;
        height: 67px;
        fill: $gold;
        transition: fill 0.3s;
    }
    &:hover {
        svg {
            fill: darken($gold, 20%);
        }
    }
    &.swiper-button-disabled {
        pointer-events: none;
        svg {
            fill: $gray;
        }
    }
}
.next {
    right: 0;
}
.swiper-pagination {
    .swiper-pagination-bullet-active {
        opacity: 1;
        background-color: $gold;
    }
}

.checkbox {
    label {
        cursor: pointer;
        transition: 0.3s;
    }
    &:hover {
        .custom-checkbox + label::after {
            border-color: $gold;
        }
        label {
            color: $gold;
        }
    }
    .custom-checkbox {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
    /* для элемента label, связанного с .custom-checkbox */
    .custom-checkbox + label {
        display: inline-flex;
        align-items: center;
        justify-content: space-between;
        width: 100%;
        user-select: none;
    }
    /* создание в label псевдоэлемента before со следующими стилями */
    .custom-checkbox + label::after {
        transition: 0.3s;
        content: "";
        display: inline-block;
        width: 13px;
        height: 13px;
        flex-shrink: 0;
        flex-grow: 0;
        border: 1px solid $black;
        border-radius: 2px;
        margin-left: auto;
        background-repeat: no-repeat;
        background-position: center center;
        background-size: 60% 60%;
    }
    /* стили для чекбокса, находящегося в состоянии checked */
    .custom-checkbox.checked + label::after {
        border-color: $gold;
        background-color: $gold;
        background-image: url("../img/check.svg");
    }
}

.btn__icon {
    fill: transparent;
    stroke: rgba(0, 0, 0, 0.4);
    transition: stroke 0.2s ease, fill 0.2s ease;
    transform-origin: center center;
}
.btn_like {
    background-color: rgba($gold, 1) !important;
}
.btn_like svg {
    animation: heartAnimation 1s ease both;
}
.btn_like::before {
    content: "";
    position: absolute;
    width: 240px;
    height: 240px;
    transform: scale(0.8);
    background-image: radial-gradient(circle at 50% 50%, $gold 70%, $gold 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%),
        radial-gradient(circle at 50% 50%, $gold 70%, transparent 71%);
    background-position: 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px,
        65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, center center;
    background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
        0px 0px, 0px 0px, 0px 0px, 0% 0%;
    background-repeat: no-repeat;
    animation: confetiAnimation 1s ease both;
}

@keyframes confetiAnimation {
    0% {
        background-position: 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px,
            65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, center center;
        background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
            0px 0px, 0px 0px, 0px 0px, 0px 0px, 0% 0%;
    }

    20% {
        background-position: 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px,
            65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, 65px 65px, center center;
        background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
            0px 0px, 0px 0px, 0px 0px, 0px 0px, 100% 100%;
    }

    35% {
        background-position: 125px 39px, 111px 39px, 182px 72px, 174px 64px, 193px 141px, 195px 128px, 145px 192px,
            157px 185px, 76px 186px, 89px 190px, 39px 128px, 43px 141px, 60px 62px, 52px 74px, center center;
        background-size: 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px, 5px 5px,
            5px 5px, 5px 5px, 5px 5px, 5px 5px, 0% 0%;
    }

    50% {
        background-position: 125px 24px, 111px 39px, 192px 66px, 174px 64px, 201px 145px, 195px 128px, 145px 201px,
            157px 185px, 66px 192px, 89px 190px, 24px 125px, 43px 141px, 50px 50px, 52px 74px, center center;
        background-size: 10px 10px, 5px 5px, 10px 10px, 5px 5px, 10px 10px, 5px 5px, 10px 10px, 5px 5px, 10px 10px,
            5px 5px, 10px 10px, 5px 5px, 10px 10px, 5px 5px, 0% 0%;
    }

    100% {
        background-position: 130px 29px, 113px 41px, 197px 71px, 176px 66px, 206px 150px, 197px 130px, 150px 206px,
            159px 187px, 71px 197px, 91px 192px, 29px 130px, 45px 143px, 55px 55px, 54px 76px, center center;
        background-size: 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px, 0px 0px,
            0px 0px, 0px 0px, 0px 0px, 0px 0px, 0% 0%;
    }
}

// Preloader 
.loaded {
    .preloader .preloader__block {
        animation: preloader__block 0.5s both;
        pointer-events: none;
        @keyframes preloader__block {
            0% {
                opacity: 1;
            }
            100% {
                opacity: 0;
            }
        }
    }
    .preloader {
        animation: preloader 1s both;
        animation-delay: 0.5s;
    }
    @keyframes preloader {
        0% {
            transform: translateY(0%);
        }
        100% {
            transform: translateY(-100%);
        }
    }
}

// Cursor 
.cursor-dot-outline {
    z-index: 1000;
    pointer-events: none;
    position: absolute;
    top: 50%;
    left: 50%;
    border-radius: 50%;
    opacity: 0;
    transform: translate(-50%, -50%);
    transition: opacity 0.3s ease-in-out, transform 0.3s ease-in-out, background-color 0.3s;
    width: 10px;
    height: 10px;
    background-color: rgba($black, 0.5);
}

html[lang="ru"] [lang="en"] {
    display: none;
}
html[lang="en"] [lang="ru"] {
    display: none;
}

// ScrollBar
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    background-color: #fff;
}
::-webkit-scrollbar-track {
    background-color: #1c1c1c;
}

// Select-Text
::selection {
    background: rgba($gold, 0.65);
}
